.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(0); */
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    width: 50vw;
    /* transform: scale(0.5); */
    transition: 0.4s all;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.modal__content input  {
    padding: 15px;
    display: block;
    width: 95%;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 15px;
}

.modal__content label  {
    margin-bottom: 10px;
}

.modal_content.acitve {
    transform: scale(1);
}
.modal__close {
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}
.modal__close:hover {
   color: red;
}